*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    direction: rtl;
}


.header{
    width: 93%;
    margin: 0 auto;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name{
    font-size: 32px;
    font-weight: bold;
}

.items{
    display: flex;
}

.item{
    margin: 0 20px 0 20px;
    font-size: 16px;
}

.search{
    width: 200px;
    height: 30px;
    border-radius: 15px;
    border: none;
    margin:0 0 0 20px;
    background: #F5F5F5;
    padding: 0 10px 0 0;
}


.fa-cart-shopping{
    margin-left: 40px;
    font-size: 20px;
}

.search_icon{
    width: 45px;
    height: 45px;
}

.profile{
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.left-box{
    display: flex;
    align-items: center;
}

.right-box{
    display: flex;
    align-items: center;
    justify-content: space-between;

}





.search-container {
    position: relative;
    display: inline-block;
}
.search-input {
    padding: 8px 40px 8px 35px;
    border: none;
    border-radius: 20px;
    width: 150px;
    background: #F5F5F5;
    font-size: 16px;
    margin-left: 40px;
}
.search-input:focus{
    border: none;
}

.search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}