---
import "../styles/login.css"
---
<html lang="en">
  <head>
    <title>Login</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="login">
      <div class="header">
        <p class="title">Elsa</p>
        <p class="sub_title">Women Clothing</p>
      </div>
      <div class="main">
        <p class="title">ورود|ثبت‌نام</p>
        <p class="sub_title">لطفا شماره موبایل  خود را وارد کنید</p>
      </div>
        <input type="text" class="input">
        <button class="btn">ورود</button>
        <p class="footer_title">ورود شما به معنای پذیرش شرایط السا وقوانین حریم‌خصوصی است</p>
    </div>
    <script src="../scripts/login.js" ></script>
  </body>
</html>