---
import "../styles/header.css"
---

<div class="header">
    <p class="name">Elsa</p>
    <ul class="items">
        <li class="item">Home</li>
        <li class="item">Home</li>
        <li class="item">Home</li>
    </ul>
    <div class="right-box">
        <i class="fa-solid fa-magnifying-glass search_icon"></i>
        <input class="search">
        <img src="" alt="basket" class="basket">
        <img src="" alt=profile"" class="profile">
    </div>

</div>